<html>

<head>
  <title><%= @name %> - Authorize</title>
  <style>
  * {
    font-family: sans-serif;
  }
  </style>
</head>

<body>

<h1><%= @name %></h1>
<h2><%= @description %></h2>

<p>is requesting access to your account.</p>

<%= if @user_id do %>
  <%= unless @scopes == [] do %>
    <p>The following permissions will be given:</p>

    <ul>
    <%= for scope <- @scopes do %>
      <li><%= scope %></li>
    <% end %>
    </ul>
  <% end %>

  <form method="POST">
    <input type="hidden" name="_csrf_token" value="<%= @csrf_token %>"/>
    <input type="hidden" name="action" value="allow"/>
    <input type="submit" value="Allow" />
  </form>

  <form method="POST">
    <input type="hidden" name="_csrf_token" value="<%= @csrf_token %>"/>
    <input type="hidden" name="action" value="deny"/>
    <input type="submit" value="Deny" />
  </form>
<% else %>
  <form method="POST">
    <input type="hidden" name="_csrf_token" value="<%= @csrf_token %>"/>
    <input type="hidden" name="action" value="authenticate"/>
    <input type="text" name="username" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="submit" value="Authenticate" />
  </form>
<% end %>

</body>

</html>
